In [60]:
# Problem 5: Average, variance, and correlation

import csv
import pandas as pd
house_data = pd.read_csv("kc_house_data.csv")
house_data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [61]:
# 1. For each feature, write code to compute the average value, the min and max values, as well as its variance
house_features = house_data.drop(columns = ["id", "date", "zipcode", "price"])
house_price = house_data["price"]
features_stats = house_features.agg(["mean", "min", "max", "var"])
features_stats

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
mean,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,47.560053,-122.213896,1986.552492,1.276846e+04
min,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,47.155900,-122.519000,399.000000,6.510000e+02
max,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,47.777600,-121.315000,6210.000000,8.712000e+05
var,0.865015,0.593151,843533.681368,1.715659e+09,0.291588,0.007485,0.587243,0.423467,1.381703,685734.667269,195872.668401,862.797262,161346.211862,0.019200,0.019833,469761.239945,7.455182e+08

In [62]:
# Part 1 Answers
high_mean = round(features_stats.loc["mean"].max(), 2)
high_mean_feature = features_stats.loc["mean"].idxmax()
print("The feature with the highest mean is", high_mean_feature, high_mean)

low_mean = round(features_stats.loc["mean"].min(), 2)
low_mean_feature = features_stats.loc["mean"].idxmin()
print("The feature with the lowest mean is", low_mean_feature, low_mean)

high_var = round(features_stats.loc["var"].max(), 2)
high_var_feature = features_stats.loc["var"].idxmax()
print("The feature with the highest variance is", high_var_feature, high_var)

low_var = round(features_stats.loc["var"].min(), 2)
low_var_feature = features_stats.loc["var"].idxmin()
print("The feature with the lowest variance is", low_var_feature, low_var)

The feature with the highest mean is sqft_lot 15106.97
The feature with the lowest mean is long -122.21
The feature with the highest variance is sqft_lot 1715658774.18
The feature with the lowest variance is waterfront 0.01

In [63]:
# 2. Compute the correlation coefficient of each feature with the response. Include a table with the correlation coefficient of each feature with the response. 
# Which features are positively correlated (i.e., have positive correlation coefficient) with the response?
# Which feature has the highest positive correlation with the response?
corr_coeff = house_features.corrwith(house_price)
corr_coeff_table = pd.DataFrame(corr_coeff).reset_index()
corr_coeff_table.columns = ["Feature Name", "Correlation with Price"]
print(corr_coeff_table)

pos_corr = corr_coeff[corr_coeff > 0].index.tolist()
high_corr_coeff = round(corr_coeff.max(), 2)
high_corr_coeff_feature = corr_coeff.idxmax()

print("The features that are positively correlated with the response are", pos_corr)
print("The feature with the highest positive correlation is", high_corr_coeff_feature, high_corr_coeff)

# 3. Were you able to find any features with a negative correlation coefficient with the response?
neg_corr = corr_coeff[corr_coeff < 0].index.tolist()
print("The features that are negatively correlated with the response are", neg_corr)

     Feature Name  Correlation with Price
0        bedrooms                0.308350
1       bathrooms                0.525138
2     sqft_living                0.702035
3        sqft_lot                0.089661
4          floors                0.256794
5      waterfront                0.266369
6            view                0.397293
7       condition                0.036362
8           grade                0.667434
9      sqft_above                0.605567
10  sqft_basement                0.323816
11       yr_built                0.054012
12   yr_renovated                0.126434
13            lat                0.307003
14           long                0.021626
15  sqft_living15                0.585379
16     sqft_lot15                0.082447
The features that are positively correlated with the response are ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'lat', 'long', 'sqft_living15', 'sqft_lot15']
The feature with the highest positive correlation is sqft_living 0.7
The features that are negatively correlated with the response are []